@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
}

a,
.green {
 
}

@media (hover: hover) {
  a:hover {
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
   
  }
}
